html {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    min-height: 100%;
    margin: 5;
    left: 1%;
    background: #696969;
    font-family: 'Helvetica', serif;
    color: #FFFFFF;
}


header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background: #000000;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    left: 0px;
    display: block;
    z-index: 10;

}
header .logo {
    width: 50px;
    height:70px;
    float: left;
    margin-left: 10px;
}

header .title {
    display: block;
    position: fixed;
    top: 0;
    height: 70px;
    margin-left: 80px;
    margin-top: 0px;
    padding: 0;
    line-height: 70px;
    text-align: center;
    font-size: 1.5em;
}


content {
    height: 80%;
    top: 70px;
    width:100%;
    position: relative;
    overflow: hidden;

}

button{
    display: inline-block;
    height: 50px;
    line-height: 20px;
    text-align: center;
    width: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    box-shadow: 1px 1px #000000;
    background-color: #333333;
    color: #FFFFFF;
}



.input{
    float: left;
    width:60%;
    padding: 5px;
    font-size: 17px;
}

.overview{
    float: right;
    width: 30%;
    padding: 5px;
    font-size: 20px;
    visibility: hidden;
    color:#F0F0F0;
    margin-top: 20px;


}

.overview .application_overview{
    text-align: left;
    margin:5px;
    position: center;
    font-size: 17px;

}

   

input[type=text], textarea {
    height: 20px; 
    width: 150px;
    font-size: 1.3em;
    border-radius: 18px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    background: rgba(200,200,200,0.5);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(10, 10, 10, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(10, 10, 10, 1);
}

.klassen_parameter{
    margin-left: 70px;
    font-size: 12px;
    visibility: hidden;
}

.klassen_variablen{
    margin-left: 70px;
    font-size: 12px;
    visibility: hidden;
}

.function_name{
    visibility: hidden;
}

.parameters_name{
    margin-left: 70px;
    font-size: 12px;
    visibility: hidden;
}

.variables_name{
    margin-left: 70px;
    font-size: 12px;
    visibility: hidden;
}

#confirm_function_button{
    visibility: hidden;
    margin-left: 35px;
    width: 90px;
}

#confirm_module_button{
    visibility: hidden;
    margin-top: 5px;
}

#finish_button{
    margin-right: 50px;
    float: right;
}

.list_modul{
    visibility: hidden;
    display: inline-block;
}

#class_par_input{
    height: 20px; 
    width: 150px;
    font-size: 1.3em;
    border-radius: 18px;
    outline: none
}

#class_var_input{
    height: 20px; 
    width: 150px;
    font-size: 1.3em;
    border-radius: 18px;
    outline: none
}

#parameter_name_input{
    height: 20px; 
    width: 150px;
    font-size: 1.3em;
    border-radius: 18px;
    outline: none
}

#variable_name_input{
    height: 20px; 
    width: 150px;
    font-size: 1.3em;
    border-radius: 18px;
    outline: none
}

#delete{
    visibility: hidden;
    margin-left: 300px;
}

