.dropbtn {
    background-color: #000000;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e8e41;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.show {display:block;}


/*in index.html:  <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button> 
            <div id="dropDown" class = "dropdown-content">
            <a href="#">modul1</a>
            <a href="#">modul2</a>
            <a href="#">modul3</a>
            </div>
        </div>;